@use '../../../styles/theme.scss' as *;

._header {
  display: flex;
  justify-content: space-between;

  height: $header-height;

  padding: 0px 20px;

  &-left {
    height: $header-height;
    display: inline-flex;
    align-items: center;
    font-size: 25px;

    a {
      color: #fff;
    }
  }

  &-right {
    height: $header-height;
    display: flex;
    align-items: center;

    & > a {
      padding: 2px 8px;
      text-decoration: none;
    }
  }
}

@media (prefers-color-scheme: light) {
  ._header-left {
    a {
      color: #000;
    }
  }
}
