// antd 4.x 主题 这个文件有antd-theme.js 生成 ，请不要手动更改这个文件
// 如要更新 请更新 antd-theme.js 文件
// 修改 antd-theme.js 文件 需要重新运行执行命令（webpack）

$primary-color: #1da57a;
$layout-header-height: 50px;
$error-color: #f5222d;
$text-color: rgba(0, 0, 0, 0.65);
$border-radius-base: 4px;
$box-shadow-base: 0 1px 8px rgba(0, 0, 0, 0.05);
