@import '../var.scss';

.#{$class-prefix}_login {
  flex: 1;
  display: flex;
  background-color: #282c34;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center;

  &-content {
    width: 1000px;
    height: 500px;
    display: flex;
    position: absolute;
    top: calc(50% - 250px);

    &-left {
      width: 500px;
      flex: 1;
      background-color: rgba($color: #000000, $alpha: 0.1);
      padding: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;
      }
    }
    &-right {
      width: 500px;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 80px;

      h2 {
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }
}
